*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;


}

h1{color: white;
    margin:20px 0;
}

.tuttinumeri{
    width: 200px;
    height: 200px;
    background-color: #1389b2;
    padding: 80px;
}

.fizz{
    background-color: #0bd6a1;
    width: 200px;
    height: 200px;
    padding: 80px;
}
.buzz{
    background-color: #ffd166;
    width: 200px;
    height: 200px;
    padding: 80px;
}

.fizzbuzz{
    background-color: #f0466f;
    width: 200px;
    height: 200px;
    padding: 80px;
    
}